header, footer, .formation, .competence {
    background-color: rgb(240, 240, 240);
}

.profil {
    width: 6cm;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.moi {
    display: flex;
}

.logo{
    color: blue;
}
strong{
    color: blue;
    text-transform: uppercase;
}
.IMN{
    color: blue;
}
/* h2{
    color: blue;
} */
.bac, .MI{
    color: blue;
}