body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 226, 226);
    margin: 10px;
    padding: 15px;
    /* border: 1px black solid; */
    /* font-size: large; */
}

header {
    display: flex;
    /* border: 1px black solid; */
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
}

/* footer {
    border: 1px black solid;
    padding: 10px; 
    background-color: rgb(255, 255, 255,0.8);
    margin-top: 0px;
    height: 250px;
} */
h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    margin-top: 0px;
    line-height: 45px;
    /* border: 1px black solid; */
}

p {
    margin-top: 0px;
    font-size: large;
    line-height: 45px;
}

h3 {
    font-size: large;
    margin: 25px;
    color: rgb(0, 187, 255);
}

strong {
    color: rgb(0, 187, 255);
    text-transform: uppercase;
}

img {
    width: 40%;
    height: 300px;
    margin: 0px;
    /* border: 1px black solid; */
}

a {
    font-size: medium;
    /* border: 1px black solid; */
    /* font-weight: bold; */
    color: black;
    word-spacing: 0px;
    padding-left: 20px;

}
a:hover{
    color: rgb(0, 158, 215);
}
section,table {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* border: 1px black solid; */
}

#navigation {
    /* border: 1px black solid; */
    float: right;
    position: absolute;
    right: 50px;
    margin-top: 5px;
}

.bouton {
    padding: 5px;
    margin-left: 25px;
    border-radius: 100px;
    background-color: rgb(0, 187, 255);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bouton:hover {
    background-color: rgb(0, 158, 215);
    color: white;
}

.partie {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px black solid; */
    justify-content: center; /* Centre horizontalement */
    /* align-items: center;    Centre verticalement */
}
.partie-1 {
    margin-top: 50px;
    background-color: rgb(226, 226, 226);
}
.texte-boite {
    padding: 10px;
    /* border: 1px black solid; */
}
.texte-boite-droite{
    padding-left: 75px;
}
.titre{
    text-align: center;
}